target/global-logging/sbt-global-log4496114237772504207.log
target/.history3
target/bg-jobs/sbt_34488399/job-1/target/cf030fe1/c421e0c2/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_34488399/job-2/target/cf030fe1/76a22459/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_34488399/job-3/target/cf030fe1/eed4749f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_34488399/job-4/target/cf030fe1/14cbd3df/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_34488399/job-5/target/cf030fe1/281bb3e5/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_34488399/target/19bf03ac/10db0b12/javafx-controls-16-win.jar
target/bg-jobs/sbt_34488399/target/1cbeb48b/3be0442e/javafx-base-16.jar
target/bg-jobs/sbt_34488399/target/338c8971/62ac39f7/javafx-swing-16-win.jar
target/bg-jobs/sbt_34488399/target/3e62c312/3fb78c25/javafx-web-16-win.jar
target/bg-jobs/sbt_34488399/target/54517b42/48a0ec6e/scalafx_2.12-16.0.0-R24.jar
target/bg-jobs/sbt_34488399/target/6db88eff/aa7f2183/scala-reflect.jar
target/bg-jobs/sbt_34488399/target/a5a3f195/bf6a46ab/javafx-media-16-win.jar
target/bg-jobs/sbt_34488399/target/b30c6618/e4771048/javafx-controls-16.jar
target/bg-jobs/sbt_34488399/target/be34d0eb/f835318f/javafx-graphics-16.jar
target/bg-jobs/sbt_34488399/target/c3bf7656/519ae633/javafx-base-16-win.jar
target/bg-jobs/sbt_34488399/target/ef9d65bc/ba469b7f/scala-library.jar
target/bg-jobs/sbt_34488399/target/f1c66161/4df3b9c6/javafx-fxml-16-win.jar
target/bg-jobs/sbt_34488399/target/fa44e60f/8c7256f5/javafx-graphics-16-win.jar
target/bg-jobs/sbt_34488399/target/fe81ecd9/0a3b8ef6/javafx-media-16.jar
target/bg-jobs/sbt_83829c1a/job-1/target/cf030fe1/ffb966a6/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-10/target/cf030fe1/2294ca07/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-11/target/cf030fe1/a90797dc/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-12/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-13/target/cf030fe1/d3cddb6d/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-14/target/cf030fe1/d3cddb6d/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-15/target/cf030fe1/c33d6395/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-16/target/cf030fe1/87355314/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-17/target/cf030fe1/87355314/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-18/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-19/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-2/target/cf030fe1/304d98ce/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-20/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-21/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-22/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-23/target/cf030fe1/f7678014/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-24/target/cf030fe1/83b61d80/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-25/target/cf030fe1/c95489c5/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-3/target/cf030fe1/675f42da/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-4/target/cf030fe1/87709192/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-5/target/cf030fe1/e296fa2c/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-6/target/cf030fe1/26ff1f5d/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-7/target/cf030fe1/f5e97687/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-8/target/cf030fe1/2c00f907/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/job-9/target/cf030fe1/c3026d7c/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_83829c1a/target/19bf03ac/10db0b12/javafx-controls-16-win.jar
target/bg-jobs/sbt_83829c1a/target/1cbeb48b/3be0442e/javafx-base-16.jar
target/bg-jobs/sbt_83829c1a/target/338c8971/62ac39f7/javafx-swing-16-win.jar
target/bg-jobs/sbt_83829c1a/target/3e62c312/3fb78c25/javafx-web-16-win.jar
target/bg-jobs/sbt_83829c1a/target/54517b42/48a0ec6e/scalafx_2.12-16.0.0-R24.jar
target/bg-jobs/sbt_83829c1a/target/6db88eff/aa7f2183/scala-reflect.jar
target/bg-jobs/sbt_83829c1a/target/a5a3f195/bf6a46ab/javafx-media-16-win.jar
target/bg-jobs/sbt_83829c1a/target/b30c6618/e4771048/javafx-controls-16.jar
target/bg-jobs/sbt_83829c1a/target/be34d0eb/f835318f/javafx-graphics-16.jar
target/bg-jobs/sbt_83829c1a/target/c3bf7656/519ae633/javafx-base-16-win.jar
target/bg-jobs/sbt_83829c1a/target/ef9d65bc/ba469b7f/scala-library.jar
target/bg-jobs/sbt_83829c1a/target/f1c66161/4df3b9c6/javafx-fxml-16-win.jar
target/bg-jobs/sbt_83829c1a/target/fa44e60f/8c7256f5/javafx-graphics-16-win.jar
target/bg-jobs/sbt_83829c1a/target/fe81ecd9/0a3b8ef6/javafx-media-16.jar
target/bg-jobs/sbt_9b813d45/job-1/target/cf030fe1/3a9bdb6f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_9b813d45/job-2/target/cf030fe1/3a9bdb6f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_9b813d45/job-3/target/cf030fe1/3a9bdb6f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_9b813d45/target/19bf03ac/10db0b12/javafx-controls-16-win.jar
target/bg-jobs/sbt_9b813d45/target/1cbeb48b/3be0442e/javafx-base-16.jar
target/bg-jobs/sbt_9b813d45/target/338c8971/62ac39f7/javafx-swing-16-win.jar
target/bg-jobs/sbt_9b813d45/target/3e62c312/3fb78c25/javafx-web-16-win.jar
target/bg-jobs/sbt_9b813d45/target/54517b42/48a0ec6e/scalafx_2.12-16.0.0-R24.jar
target/bg-jobs/sbt_9b813d45/target/6db88eff/aa7f2183/scala-reflect.jar
target/bg-jobs/sbt_9b813d45/target/a5a3f195/bf6a46ab/javafx-media-16-win.jar
target/bg-jobs/sbt_9b813d45/target/b30c6618/e4771048/javafx-controls-16.jar
target/bg-jobs/sbt_9b813d45/target/be34d0eb/f835318f/javafx-graphics-16.jar
target/bg-jobs/sbt_9b813d45/target/c3bf7656/519ae633/javafx-base-16-win.jar
target/bg-jobs/sbt_9b813d45/target/ef9d65bc/ba469b7f/scala-library.jar
target/bg-jobs/sbt_9b813d45/target/f1c66161/4df3b9c6/javafx-fxml-16-win.jar
target/bg-jobs/sbt_9b813d45/target/fa44e60f/8c7256f5/javafx-graphics-16-win.jar
target/bg-jobs/sbt_9b813d45/target/fe81ecd9/0a3b8ef6/javafx-media-16.jar
target/bg-jobs/sbt_c1384aa9/job-1/target/cf030fe1/c95489c5/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_c1384aa9/job-2/target/cf030fe1/3a9bdb6f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_c1384aa9/target/19bf03ac/10db0b12/javafx-controls-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/1cbeb48b/3be0442e/javafx-base-16.jar
target/bg-jobs/sbt_c1384aa9/target/338c8971/62ac39f7/javafx-swing-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/3e62c312/3fb78c25/javafx-web-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/54517b42/48a0ec6e/scalafx_2.12-16.0.0-R24.jar
target/bg-jobs/sbt_c1384aa9/target/6db88eff/aa7f2183/scala-reflect.jar
target/bg-jobs/sbt_c1384aa9/target/a5a3f195/bf6a46ab/javafx-media-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/b30c6618/e4771048/javafx-controls-16.jar
target/bg-jobs/sbt_c1384aa9/target/be34d0eb/f835318f/javafx-graphics-16.jar
target/bg-jobs/sbt_c1384aa9/target/c3bf7656/519ae633/javafx-base-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/ef9d65bc/ba469b7f/scala-library.jar
target/bg-jobs/sbt_c1384aa9/target/f1c66161/4df3b9c6/javafx-fxml-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/fa44e60f/8c7256f5/javafx-graphics-16-win.jar
target/bg-jobs/sbt_c1384aa9/target/fe81ecd9/0a3b8ef6/javafx-media-16.jar
target/bg-jobs/sbt_cad33b52/job-1/target/cf030fe1/3a9bdb6f/testscala_2.12-0.1.0-SNAPSHOT.jar
target/bg-jobs/sbt_cad33b52/target/19bf03ac/10db0b12/javafx-controls-16-win.jar
target/bg-jobs/sbt_cad33b52/target/1cbeb48b/3be0442e/javafx-base-16.jar
target/bg-jobs/sbt_cad33b52/target/338c8971/62ac39f7/javafx-swing-16-win.jar
target/bg-jobs/sbt_cad33b52/target/3e62c312/3fb78c25/javafx-web-16-win.jar
target/bg-jobs/sbt_cad33b52/target/54517b42/48a0ec6e/scalafx_2.12-16.0.0-R24.jar
target/bg-jobs/sbt_cad33b52/target/a5a3f195/bf6a46ab/javafx-media-16-win.jar
target/bg-jobs/sbt_cad33b52/target/b30c6618/e4771048/javafx-controls-16.jar
target/bg-jobs/sbt_cad33b52/target/be34d0eb/f835318f/javafx-graphics-16.jar
target/bg-jobs/sbt_cad33b52/target/c3bf7656/519ae633/javafx-base-16-win.jar
target/bg-jobs/sbt_cad33b52/target/f1c66161/4df3b9c6/javafx-fxml-16-win.jar
target/bg-jobs/sbt_cad33b52/target/fa44e60f/8c7256f5/javafx-graphics-16-win.jar
target/bg-jobs/sbt_cad33b52/target/fe81ecd9/0a3b8ef6/javafx-media-16.jar
target/global-logging/sbt-global-log3196080309931426419.log
target/global-logging/sbt-global-log3590700928454992859.log
target/global-logging/sbt-global-log7266599272141163125.log
target/global-logging/sbt-global-log7460166049169006592.log
target/global-logging/sbt-global-log10267813784389211542.log
target/global-logging/sbt-global-log13776553986112370552.log
target/global-logging/sbt-global-log15752070694357239301.log
target/global-logging/sbt-global-log15854570765288400165.log
target/scala-2.12/testscala_2.12-0.1.0-SNAPSHOT.jar
target/scala-2.12/classes/alert1.class
target/scala-2.12/classes/alert1$.class
target/scala-2.12/classes/alert1$$anon$1.class
target/scala-2.12/classes/alert1$$anon$1$$anon$2.class
target/scala-2.12/classes/Property.class
target/scala-2.12/classes/Property$.class
target/scala-2.12/classes/Property$delayedInit$body.class
target/scala-2.12/classes/Property2.class
target/scala-2.12/classes/Property2$.class
target/scala-2.12/classes/Property2$delayedInit$body.class
target/scala-2.12/classes/Property3.class
target/scala-2.12/classes/Property3$.class
target/scala-2.12/classes/Property3$delayedInit$body.class
target/scala-2.12/classes/Property4.class
target/scala-2.12/classes/Property4$.class
target/scala-2.12/classes/Property4$delayedInit$body.class
target/scala-2.12/classes/Property5.class
target/scala-2.12/classes/Property5$.class
target/scala-2.12/classes/Property5$$anon$1.class
target/scala-2.12/classes/Property5$$anon$1$$anon$2.class
target/scala-2.12/classes/Property5$$anon$1$$anon$2$$anon$3.class
target/scala-2.12/classes/Property56.class
target/scala-2.12/classes/Property56$.class
target/scala-2.12/classes/Property56$delayedInit$body.class
target/scala-2.12/zinc/inc_compile_2.12.zip
target/streams/compile/_global/_global/compileOutputs/previous
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/compile/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/run/_global/streams/out
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-console-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-console-l1-2-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-datetime-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-debug-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-errorhandling-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-file-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-file-l1-2-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-file-l2-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-handle-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-heap-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-interlocked-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-libraryloader-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-localization-l1-2-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-memory-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-namedpipe-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-processenvironment-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-processthreads-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-processthreads-l1-1-1.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-profile-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-rtlsupport-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-string-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-synch-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-synch-l1-2-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-sysinfo-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-timezone-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-core-util-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-conio-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-convert-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-environment-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-filesystem-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-heap-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-locale-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-math-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-multibyte-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-private-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-process-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-runtime-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-stdio-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-string-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-time-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/api-ms-win-crt-utility-l1-1-0.dll
target/task-temp-directory/sbt_15dd12ae/msvcp140.dll
target/task-temp-directory/sbt_15dd12ae/ucrtbase.dll
target/task-temp-directory/sbt_15dd12ae/vcruntime140_1.dll
target/task-temp-directory/sbt_15dd12ae/vcruntime140.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-console-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-console-l1-2-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-datetime-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-debug-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-errorhandling-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-file-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-file-l1-2-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-file-l2-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-handle-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-heap-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-interlocked-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-libraryloader-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-localization-l1-2-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-memory-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-namedpipe-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-processenvironment-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-processthreads-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-processthreads-l1-1-1.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-profile-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-rtlsupport-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-string-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-synch-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-synch-l1-2-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-sysinfo-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-timezone-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-core-util-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-conio-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-convert-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-environment-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-filesystem-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-heap-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-locale-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-math-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-multibyte-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-private-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-process-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-runtime-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-stdio-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-string-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-time-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/api-ms-win-crt-utility-l1-1-0.dll
target/task-temp-directory/sbt_aa86528c/msvcp140.dll
target/task-temp-directory/sbt_aa86528c/ucrtbase.dll
target/task-temp-directory/sbt_aa86528c/vcruntime140_1.dll
target/task-temp-directory/sbt_aa86528c/vcruntime140.dll
